<!DOCTYPE html>
<html lang="en" dir="ltr">

<body>
  <% include partials/head.ejs %>

  <header class="header">
    <nav>
      <ul class="nav">
        <li><a class="back" href="/"><?xml version="1.0" encoding="UTF-8"?>
        <svg width="96px" height="96px" viewBox="0 0 96 96" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <g id="back" fill="#A69BFF" fill-rule="nonzero">
                    <path d="M48,0 C74.4763636,0 96,21.5116364 96,48 C96,74.4763636 74.4763636,96 48,96 C21.5116364,96 0,74.4763636 0,48 C0,21.516 21.516,0 48,0 Z M48,4.36363636 C23.8723636,4.36363636 4.36363636,23.8723636 4.36363636,48 C4.36363636,72.1145455 23.8723636,91.6363636 48,91.6363636 C72.1145455,91.6363636 91.6363636,72.1145455 91.6363636,48 C91.6363636,23.8723636 72.1145455,4.36363636 48,4.36363636 Z" id="Shape"></path>
                    <path d="M50.8423634,24 C51.7232373,24 52.511407,24.5388928 52.8401661,25.3578505 C53.1731225,26.1768081 52.9750362,27.1145831 52.347049,27.7298523 L32.2093358,48.0041892 L52.347049,68.278526 L52.347049,68.274283 C52.7600857,68.6816382 52.9919003,69.2375096 52.9919003,69.8146286 C52.9961158,70.3959624 52.7685232,70.9518555 52.3639131,71.3634472 C51.9550843,71.7750497 51.4029696,72.0041788 50.8255317,71.9999423 C50.2480937,71.9957058 49.7001762,71.7623184 49.2955661,71.3464795 L27.6322032,49.5361421 L27.6322032,49.5403851 C26.7892656,48.6917286 26.7892656,47.3168778 27.6322032,46.4682756 L49.2955661,24.6579383 C49.7001762,24.237852 50.2607284,24.0002281 50.8423634,24.0002281 L50.8423634,24 Z" id="Shape"></path>
                </g>
            </g>
        </svg></a></li>
        <li><h1 id="page" class="header__title"><%= name %></h1></li>
        <li><a class="menu" href="#"><?xml version="1.0" encoding="UTF-8"?>
        <svg width="96px" height="96px" viewBox="0 0 96 96" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <g id="menu" fill="#A69BFF" fill-rule="nonzero">
                    <path d="M48,0 C21.5370667,0 0,21.5370667 0,48 C0,74.4629333 21.5370667,96 48,96 C74.4629333,96 96,74.4629333 96,48 C96,21.5370667 74.4629333,0 48,0 Z M48,91.7333333 C23.8837333,91.7333333 4.26666667,72.1162667 4.26666667,48 C4.26666667,23.8837333 23.8837333,4.26666667 48,4.26666667 C72.1162667,4.26666667 91.7333333,23.8837333 91.7333333,48 C91.7333333,72.1162667 72.1162667,91.7333333 48,91.7333333 Z M72.5333333,47.8 C72.5333333,48.97504 71.7221332,49.9333333 70.7275362,49.9333333 L32.8057971,49.9333333 C31.8111641,49.9333333 31,48.9749973 31,47.8 C31,46.6250027 31.8112002,45.6666667 32.8057971,45.6666667 L70.7275362,45.6666667 C71.7221693,45.6666667 72.5333333,46.6250027 72.5333333,47.8 Z M28,47.8 C28,48.97504 27.9114581,49.9333333 27.8028986,49.9333333 L23.6637681,49.9333333 C23.5552046,49.9333333 23.4666667,48.9749973 23.4666667,47.8 C23.4666667,46.6250027 23.5552086,45.6666667 23.6637681,45.6666667 L27.8028986,45.6666667 C27.911462,45.6666667 28,46.6250027 28,47.8 Z M72.5333333,67.8 C72.5333333,68.97504 71.7221332,69.9333333 70.7275362,69.9333333 L32.8057971,69.9333333 C31.8111641,69.9333333 31,68.9749973 31,67.8 C31,66.6250027 31.8112002,65.6666667 32.8057971,65.6666667 L70.7275362,65.6666667 C71.7221693,65.6666667 72.5333333,66.6250027 72.5333333,67.8 Z M28,67.8 C28,68.97504 27.9114581,69.9333333 27.8028986,69.9333333 L23.6637681,69.9333333 C23.5552046,69.9333333 23.4666667,68.9749973 23.4666667,67.8 C23.4666667,66.6250027 23.5552086,65.6666667 23.6637681,65.6666667 L27.8028986,65.6666667 C27.911462,65.6666667 28,66.6250027 28,67.8 Z M72.5333333,28.8 C72.5333333,29.97504 71.7221332,30.9333333 70.7275362,30.9333333 L32.8057971,30.9333333 C31.8111641,30.9333333 31,29.9749973 31,28.8 C31,27.6250027 31.8112002,26.6666667 32.8057971,26.6666667 L70.7275362,26.6666667 C71.7221693,26.6666667 72.5333333,27.6250027 72.5333333,28.8 Z M28,28.8 C28,29.97504 27.9114581,30.9333333 27.8028986,30.9333333 L23.6637681,30.9333333 C23.5552046,30.9333333 23.4666667,29.9749973 23.4666667,28.8 C23.4666667,27.6250027 23.5552086,26.6666667 23.6637681,26.6666667 L27.8028986,26.6666667 C27.911462,26.6666667 28,27.6250027 28,28.8 Z" id="Shape"></path>
                </g>
            </g>
        </svg></a></li>
      </ul>
    </nav>
  </header>


  <main>

    <form class="product__form" action="/save/<%= list.name %>" method="post">

      <ul class="products">

        <% list.items.forEach(product => { %>
          <li class="products__product">

              <input id="check" class="product__check" type="checkbox" name="checkbox_<%= product.name %>" value="<%= product.name %>">

              <label for="check" class="product__name"><%= product.name %></label>

              <input type="hidden" name="checked_<%= product.name %>" value="<%= product.checked %>">

              <input class="product__quantity" type="number" value="<%= product.quantity %>" name="quantity_<%= product.name %>">

              <input class="list__remove" formaction="/delete/<%= list.name %>/<%= product.name %>" type="submit" value="delete">

          </li>
        <% }) %>

      </ul>
      <input class="btn btn-save" type="submit" value="opslaan">
    </form>

  </main>

  <footer class="footer">
    <form class="additem" action="/<%= list.name %>" method="POST">
      <input class="item__name" type="text" name="product" placeholder="Product name...">
      <input class="item__quantity" type="number" name="quantity" value="1" placeholder="1">
      <input class="btn btn-add" type="submit" name="add-product" value="+">
    </form>
  </footer>

  <script type="text/javascript" src="./js/main.js"></script>
</body>
</html>
