<!DOCTYPE html>
<html lang="en" dir="ltr">

<body>
  <% include partials/head.ejs %>

  <header class="header header__main">
    <nav>
      <h1 class="header__title_main">lijsten</h1>
    </nav>
  </header>

  <main>
    <ul class="lists">
      <% lists.forEach(list => { %>
        <li class="lists__list">
          <form class="" action="index.html" method="post">
            <a class="list__link" href="<%= list.name %>">
              <h2 class="list__name"><%= list.name %></h2>
              <p class="list__number">total: <%= list.items.length %></p>
              <p class="list__date"><%= list.date %></p>
              <input class="list__remove" formaction="/remove/<%= list.name %>" type="submit" value="delete">
            </a>
          </form>
        </li>
      <% }) %>
    </ul>
  </main>

  <footer class="footer footer__main">

    <form class="addlist" action="/" method="POST">
      <input class="addlist__name" type="text" name="list" placeholder="name your list...">
      <button class="btn btn-submit" type="submit" name="add-list">add list</button>
    </form>

  </footer>
  <% include partials/tail.ejs %>
</body>
</html>
